<body class="bg-light">
  <main class="container mt-2">
    <div
      class="row bg-yellow rounded-3 p-3 justify-content-center container mx-auto"
      style="gap: 10px"
    >
      <div class="col-md-2 col-12">
        <select
          class="form-select form-select-lg fs-6 w-100"
          aria-label=".form-select-lg example"
          name="category"
        >
          <!-- sử dụng ejs loop locals.categories -->
          <option selected value="">Chọn Danh Mục</option>
          <% categories.forEach(element => { %>
          <option value="<%= element._id %>"><%= element.title %></option>
          <% }) %>
        </select>
      </div>
      <div class="col-md-2 col-12">
        <select
          class="form-select form-select-lg fs-6 w-100"
          aria-label=".form-select-lg example"
          id="select-province"
          name="address"
        >
          <script>
            const selectProvince = document.getElementById('select-province');
            const defaultOption = document.createElement('option');
            defaultOption.text = 'Toàn Quốc';
            defaultOption.value = '';
            selectProvince.add(defaultOption);

            let api = 'https://provinces.open-api.vn/api/';
            fetch(api)
              .then((response) => response.json())
              .then((data) => {
                data.forEach((element) => {
                  let option = document.createElement('option');
                  option.text = element.name;
                  option.value = element.name;
                  selectProvince.add(option);
                });
              })
              .catch((err) => console.log(err));
          </script>
        </select>
      </div>
      <div class="col-md-2 col-12">
        <select
          class="form-select form-select-lg fs-6 w-100"
          aria-label=".form-select-lg example"
          name="price"
        >
          <option selected value="">Chọn Giá</option>
          <option value="price[gte]=0&price[lte]=1000000">Dưới 1 triệu</option>
          <option value="price[gte]=1000000&price[lte]=5000000">Từ 1 - 5 triệu</option>
          <option value="price[gte]=5000000&price[lte]=10000000">Từ 5 - 10 triệu</option>
          <option value="price[gte]=10000000">Trên 10 triệu</option>
        </select>
      </div>
      <div class="col-md-2 col-12">
        <select
          class="form-select form-select-lg fs-6 w-100"
          aria-label=".form-select-lg example"
          name="acreage"
        >
          <option selected value="">Chọn Diện Tích</option>
          <option value="acreage[gte]=0&acreage[lte]=30">Dưới 30m2</option>
          <option value="acreage[gte]=30&acreage[lte]=50">Từ 30 - 50m2</option>
          <option value="acreage[gte]=50&acreage[lte]=80">Từ 50 - 80m2</option>
          <option value="acreage[gte]=80">Trên 80m2</option>
        </select>
      </div>
      <!-- button search -->
      <div class="col-md-2">
        <button class="btn-search btn btn-primary btn-lg btn-block fs-6">Tìm Kiếm</button>
      </div>
    </div>
    <script>
      if (user) {
        document.write(`
        <div
          class="row bg-primary d-md-none mt-3 rounded-3 py-3 px-2 container mx-auto"
        >
          <div class="col-12">
            <div class="d-flex gap-3 align-items-start">
              <!-- avatar -->
              <img
                src="${user.avatar}"
                class="rounded-circle"
                alt="..."
                style="width: 50px; height: 50px"
              />
              <div class="d-flex flex-column">
                <p class="text-white">
                  Xin chào <strong class="fs-4">${user.username} !</strong>
                </p>
                <p class="text-white">
                  Đi đến trang đăng tin hoặc quản lý tin đăng của bạn
                </p>
              </div>
            </div>
          </div>
        </div>
        `);
      }
    </script>
    <div class="row container text-center d-md-flex justify-content-center d-none">
      <div class="col-4 w-25">
        <div class="card m-3 bg-white rounded-4 overflow-hidden">
          <a href="/?address=Thành+phố+Hồ+Chí+Minh">
            <img src="../../img/thanhpho.jpeg" class="card-img-top" alt="..." />
          </a>
          <div class="card-body">
            <a
              href="/?address=Thành+phố+Hồ+Chí+Minh"
              class="card-title text-primary text-decoration-none"
              >Hồ Chí Minh</a
            >
          </div>
        </div>
      </div>
      <div class="col-4 w-25">
        <div class="card m-3 bg-white rounded-4 overflow-hidden">
          <a href="/?address=Thành+phố+Cần+Thơ">
            <img src="../../img/cantho.jpeg" class="card-img-top" alt="..." />
          </a>
          <div class="card-body">
            <a
              href="/?address=Thành+phố+Cần+Thơ"
              class="card-title text-primary text-decoration-none"
              >Cần Thơ</a
            >
          </div>
        </div>
      </div>
      <div class="col-4 w-25">
        <div class="card m-3 bg-white rounded-4 overflow-hidden">
          <a href="/?address=Thành+phố+Hà+Nội">
            <img src="../../img/hanoi.jpeg" class="card-img-top" alt="..." />
          </a>
          <div class="card-body">
            <a
              href="/?address=Thành+phố+Hà+Nội"
              class="card-title text-primary text-decoration-none"
              >Hà Nội</a
            >
          </div>
        </div>
      </div>
    </div>
    <section class="row justify-content-center align-items-start">
      <div class="col-md-8 col-12"><%- include("./partials/post"); %></div>
      <div class="col-md-4 col-12 d-none d-md-block"><%- include("./partials/sidebar"); %></div>
    </section>
  </main>
</body>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script type="module" src="../../js/suggestPost.js"></script>
<script>
  const form = document.querySelector('form');
  const category_id = document.querySelector('select[name="category"]');
  const address = document.querySelector('select[name="address"]');
  const price = document.querySelector('select[name="price"]');
  const acreage = document.querySelector('select[name="acreage"]');
  const search = document.querySelector('.btn-search');
  search.addEventListener('click', (e) => {
    let url = '';
    // nếu chỉ chọn duy nhất 1 trường thì không cần dấu & trước trường tiếp theo nữa nên phải xử lý thêm
    if (address.value !== '') {
      url += `/?address=${address.value}`;
    }
    if (category_id.value !== '') {
      if (url === '') {
        url += `/?category_id=${category_id.value}`;
      } else {
        url += `&category_id=${category_id.value}`;
      }
    }
    if (price.value !== '') {
      if (url === '') {
        url += `/?${price.value}`;
      } else {
        url += `&${price.value}`;
      }
    }
    if (acreage.value !== '') {
      if (url === '') {
        url += `/?${acreage.value}`;
      } else {
        url += `&${acreage.value}`;
      }
    }
    window.location.href = url;
  });
</script>
