<!-- <div class="row">
  <div class="col-md-3">
    <div class="d-flex align-items-center">
      <div class="me-2">
        <img src="../../../img/logo.png" alt="" width="50" height="50" />
      </div>
      <div class="ms-2">
        <h3 class="fs-4">Cho Thuê Phòng Trọ</h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">

  </div>
  <div class="col-md-3"></div>
  <div class="col-md-3"></div>
</div> -->
