<nav class="navbar navbar-expand-lg navbar-dark bg-blue">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../../../img/logo.png"
        class="rounded-3"
        alt=""
        width="50"
        height="50"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Trang Chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cho Thuê Phòng Trọ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nhà Nguyên Căn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tìm Người Ở Ghép</a>
        </li>
      </ul>
      <div class="d-flex align-items-center" style="gap: 10px">
        <% if (locals.user){ %>
        <a
          href="/posts"
          class="bg-light p-2 rounded-3 text-dark text-capitalize text-decoration-none"
          >Xin Chào, <%= user.username %></a
        >
        <a href="/logout" class="btn btn-success">Đăng Xuất</a>
        <a href="#" class="btn btn-danger"
          >Đăng Bài <i class="fa fa-plus"></i
        ></a>
        <% } else { %>
        <a href="/signin" class="btn btn-success">Đăng Nhập</a>
        <a href="/signup" class="btn btn-success">Đăng Ký</a>

        <% } %>
      </div>
    </div>
  </div>
</nav>
