<div class="row bg-light rounded-3 p-3 mt-2">
  <div class="col-md-4">
    <img src="../../../img/thanhpho.jpeg" class="card-img-top" alt="" />
  </div>
  <div class="col-md-8">
    <h5 class="card-title text-primary">Thành phố Hồ Chí Minh</h5>
    <div class="card-rate text-warning">
      <i class="fa fas fa-star"></i>
      <i class="fa fas fa-star"></i>
      <i class="fa fas fa-star"></i>
      <i class="fa fas fa-star"></i>
      <i class="fa fas fa-star"></i>
    </div>
    <p class="card-price text-success">500.000.000 <span>VNĐ</span></p>
    <p class="card-text text-muted">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="btn btn-success">0912312312</a>
    <a href="#" class="btn btn-primary">Zalo</a>
  </div>
</div>
<div class="row bg-light rounded-3 p-3 mt-2">
  <div class="col-md-4">
    <img src="../../../img/thanhpho.jpeg" class="card-img-top" alt="" />
  </div>
  <div class="col-md-8">
    <h5 class="card-title text-primary">Thành phố Hồ Chí Minh</h5>
    <div class="card-rate text-warning">
      <i class="fa fas fa-star"></i>
      <i class="fa fas fa-star"></i>
      <i class="fa fas fa-star"></i>
      <i class="fa fas fa-star"></i>
      <i class="fa fas fa-star"></i>
    </div>
    <p class="card-price text-success">500.000.000 <span>VNĐ</span></p>
    <p class="card-text text-muted">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="btn btn-success">0912312312</a>
    <a href="#" class="btn btn-primary">Zalo</a>
  </div>
</div>
<div class="row bg-light rounded-3 p-3 mt-2">
  <div class="col-md-4">
    <img src="../../../img/thanhpho.jpeg" class="card-img-top" alt="" />
  </div>
  <div class="col-md-8">
    <h5 class="card-title text-primary">Thành phố Hồ Chí Minh</h5>
    <div class="card-rate text-warning">
      <i class="fa fas fa-star"></i>
      <i class="fa fas fa-star"></i>
      <i class="fa fas fa-star"></i>
      <i class="fa fas fa-star"></i>
      <i class="fa fas fa-star"></i>
    </div>
    <p class="card-price text-success">500.000.000 <span>VNĐ</span></p>
    <p class="card-text text-muted">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="btn btn-success">0912312312</a>
    <a href="#" class="btn btn-primary">Zalo</a>
  </div>
</div>
<!-- pagi -->
<nav aria-label="Page navigation example">
  <ul class="pagination mt-5">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
